name: CI

# run CI on pushes to main, and on all PRs (even the ones that target other
# branches)

on:
 push:
   branches: [main]
 pull_request:

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Check sort order
        run: diff -u bandnames.txt <(sort -u bandnames.txt)
